*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 0;
}
.hero h1{
    display: flex;
    justify-content: center;
}
.ll{    
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    color: ghostwhite;
    font-weight: 500;
    background-color: rgb(133, 95, 170);
    opacity: 0.8;
}
.kk{
    margin-top: 200px;
    color: white;
    font-weight: 500;
    background-color: black;
    opacity: 0.7;
}
.content{
    text-align: center;
}
.content h2{
    padding-top: 140px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: ghostwhite;
}
.rever{
    display: flex; justify-content: center;
}
.rever a{
    padding-top: 7px; text-decoration: none;color: #fff;font-size: 24px; border: 2px solid white; border-radius: 50px; margin-top: 85px;
}
.rever a:hover{
    color: black;
    border: 2px solid black;
    border-radius: 50px;
}
.content a{
    padding-top: 120px;
}
.foot{
    padding-top: 11px;
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.7;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.scale a{
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.7;
    color: yellow;
    font-size: 20px;
}
.scale a:hover{
    color: red;
}
.video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.8;
}
@media (min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
    }
}